body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    color: #5a0b88;
    text-align: center;
    font-family: sans-serif;
}

h4 {
    color: #b8b8b8;
    text-align: center;
}

#logo {
    text-align: center;
}

#footer {
    padding: 20px;
    color: white;
    background-color: #5a0b88;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
    color: #e4c2f8;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
}


.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #a417e6;
    text-align: center;
    color: white;
}

nav li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

nav {
    background-color: #5a0b88;
    padding: 15px;
    position: sticky;
    top: 0;
}

header {
    display: inline;
}

main {
    padding: 10px;
    overflow: auto;
}

#content {
    float: left;
    width: 25%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
}

#mark {
    background-color: white;
    font-size: 20px;
}

#mark:hover {
    color: #5a0b88;
}

img {
    width: 190px;
}